body{
    background-color: black;
    font-family: 'Roboto Mono', monospace;
    background-size: cover;
    color:  rgba(2, 255, 61);


}
#answerText{
    text-align: center;
}
.timer{
    color: rgba(2, 255, 61);
    font-size:40px;
}
button{
    background-color: rgba(0, 255, 60, 0);
    color:  rgb(9, 255, 198);
    font-family: 'Roboto Mono', monospace;
    font-size:18px;

}
h1{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

.start{
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-size: 24px;
    height: 100%;
    margin: 60px 0px 0px 0px;

}

#question{
    font-family: 'Roboto Mono', monospace;

    color:  rgba(2, 255, 61);
    font-size: 15pt;
    text-align: left;
}
.answer{
    font-family: 'Roboto Mono', monospace;
    width:100%;
    font-size: 18px;
    text-align:left;
    
}
h2{
    font-family: 'Roboto Mono', monospace;
    font-size: 150px;
    text-align: left;
}
#answerSplash{
    font-family: 'Roboto Mono', monospace;
    color:  rgba(2, 255, 61);

    font-size: 28pt;
    text-align: center;
}
img{
    margin: auto;
    display: block;
    width: 400px;
    height: auto;
}
